.card {
  width: 90%;
  height: 75%;
  padding: 0.5vh;
  background-color: saddlebrown;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.card__title {
  background-color: rgba(0, 0, 255, 0.5);
}
.card__content {
  display: flex;
  flex-flow: row nowrap;

  align-items: center;
  background-color: rgba(0, 0, 255, 0.5);

  width: 90%;
  height: 60%;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
.card__content--img {
  width: max-content;
  height: max-content;
  padding: 4vh;
}
