:root {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: var(--main-color);
  --primary-color: #111e42;
  --secondary-color: #0f172a;
  --main-color: #ffe9d5;
  --accent1-color: #c59768;
  --accent2-color: #0099bc;
  --accent3-color: #121515;
}
body {
  background-color: #111e42;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
body::-webkit-scrollbar {
  display: none;
}
